

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mon titre</title>
    </head>
<body>
<nav><!-- Contenu de ma navbar --></nav>

<h1>Clubs ESPRIT</h1>
<p>AU Sein d'esprit , les associations et clubs remplissent plusieurs roles etant donné la diversité des motivations qui animent ceux qui en sont a l'origine </p>
<img src="{{ asset('img/img.png') }}">
<footer><!-- Contenu de mon footer --></footer>
</body>
</html>